coverage==4.3.4
docker-py==1.10.6
docutils==0.13.1
ipdb==0.10.2
ipython==5.2.2
flake8==3.2.1
wheel==0.29.0
setuptools==34.2.0
-e .[sa]
sphinx==1.5.2
tox==2.6.0
pytest==3.0.6
pytest-cov==2.4.0
pytest-sugar==0.8.0
pytest-timeout==1.2.0
sphinxcontrib-asyncio==0.2.0
sqlalchemy==1.1.5
