coverage==5.5
docker==5.0.0
flake8==3.9.2
isort==5.9.3
-e .[sa]
sphinx==4.1.2
pytest==6.2.4
pytest-cov==2.12.1
pytest-sugar==0.9.4
pytest-timeout==1.4.2
sphinxcontrib-asyncio==0.3.0
psycopg2-binary==2.9.1
sqlalchemy[postgresql_psycopg2binary]==1.4.38
async-timeout==4.0.0
mypy==0.910
black==22.3.0
six==1.16.0
