coverage==4.5.1
docker==3.4.1
ipdb==0.11
ipython==6.5.0
flake8==3.5.0
-e .[sa]
sphinx==1.7.6
tox==3.1.2
pytest==3.6.4
pytest-cov==2.5.1
pytest-sugar==0.9.1
pytest-timeout==1.2.1
sphinxcontrib-asyncio==0.2.0
sqlalchemy==1.2.7
psycopg2==2.7.3.2
